/* Global variables */

:root {
  --primary-blue: #2563eb;
  --secondary-blue: #1f40b0;
  --text-blue: #1e40af;
  --text-green: #166534;
  --text-green-accent: #dcfce7;
  --light-black: #111827;
  --light-grey: #9ca3af;
  --medium-light-grey: #6b7280;
  --medium-grey: #4b5563;
  --light-blue: #dbeafe;
  --light-red: #ef4444;
  --light-white: #f9fafb;
  --blue-white: #dbeafe;

  --border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--light-white);
}

img {
  max-width: 35rem;
}

ul,
ol {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: white;

  & h1 {
    font-size: x-large;
    font-weight: 700;
  }

  & nav ul {
    display: flex;

    & li {
      margin-right: 2rem;
      margin-top: 0.5rem;

      & .currentTab {
        color: var(--primary-blue);
      }

      & a {
        text-decoration: none;
        color: var(--medium-grey);
        font-weight: 500;
      }
    }
  }

  & button {
    color: white;
    border: none;
    border-radius: var(--border-radius);
    padding: 0.6rem 1rem;
    background-color: var(--primary-blue);

    & .fa-bell {
      padding-right: 0.5rem;
    }
  }
}

main {
  & #banner {
    padding: 4rem;
    color: white;
    text-align: center;
    background-image: linear-gradient(90deg, var(--primary-blue), var(--secondary-blue));

    & > * {
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    & p {
      color: var(--light-blue);
    }

    /* & .searchContainer { */
    background-color: red;

    & .fa-search {
      color: var(--light-grey);
    }

    & input {
      border: none;
      padding: 0.5rem;
      border-radius: var(--border-radius);
      width: 20rem;
    }
    /* } */
  }

  & section {
    /* background-color: aqua; */

    & > .featuredHeading {
      background-color: salmon;
    }

    & article {
      background-color: seagreen;
      max-width: 35rem;

      & .topicDate {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;

        & :first-child {
          color: #1f40b0;
        }

        background-color: rebeccapurple;
      }

      & .profilePicture {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  & .pageNavigation ul {
    /* background-color: red; */
    display: flex;

    & button {
      padding: 1rem;
    }

    & :nth-child(2) {
      background-color: lime;
      background-color: #1f40b0;
      color: white;
    }

    & li {
      border-radius: var(--border-radius);
      margin: 2px;
      padding: 1rem;
    }
  }
}

aside {
  padding: 2rem;
  gap: 2rem;

  & h2 {
    font-size: larger;
    font-weight: bold;
  }

  & > :nth-child(2) {
    background-color: var(--primary-blue);
    color: white;

    & p {
      color: var(--blue-white);
    }

    & input,
    button {
      border-radius: var(--border-radius);
      border: none;
      padding: 0.7rem 1rem;
      font-size: large;
    }

    & input {
      color: var(--light-grey);
    }

    & button {
      color: var(--primary-blue);
      font-weight: 500;
    }
  }

  & .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: calc(var(--border-radius) * 2);
    width: 25rem;
    min-height: 15rem;
    padding: 1.5rem;
    margin: 1.6rem;
    box-shadow: 0px 2px 3px var(--light-grey);

    & nav li {
      display: flex;
      justify-content: space-between;
      color: var(--light-grey);
      padding: 0.6rem 0.5rem;

      & a {
        text-decoration: none;
        color: var(--medium-grey);
      }
    }

    & article {
      display: flex;
      gap: 1rem;

      & .articleInfo {
        padding-top: var(--border-radius);

        & p {
          color: var(--light-black);
          font-weight: 550;
        }

        & small {
          color: var(--medium-light-grey);
        }
      }
    }

    & img {
      width: 4rem;
      height: 4rem;
      border-radius: var(--border-radius);
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--light-black);
  color: var(--light-grey);
  padding: 0 13rem;

  & #footerMainDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--light-grey);
    padding-top: 4rem;
    padding-bottom: 1rem;

    & > :first-child i {
      margin-right: 1rem;
    }

    & > :last-child {
      margin-right: 5rem;
      & i {
        margin-right: 0.7rem;
      }
    }

    & h2 {
      color: white;
      padding-bottom: 1rem;
    }

    & #techDiv {
      width: 17rem;
      padding-bottom: 1rem;
    }

    & ul li {
      padding: 0.7rem 0;
      margin-left: 0;
    }

    & a {
      text-decoration: none;
      color: var(--light-grey);
    }
  }

  & #footerBottom {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

    & span {
      color: var(--light-red);
      padding: 0 0.3rem;
    }
  }
}
