:root {
  --primary-blue: #2563eb;
  --secondary-blue: #1f40b0;
  --footer-color: #111827;
  --light-grey: #9ca3af;
  --medium-grey: #4b5563;
  --light-blue: #dbeafe;

  --button-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul,
ol {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 1rem;

  & h1 {
    font-size: x-large;
    font-weight: 700;
  }

  & nav ul {
    display: flex;

    & li {
      margin-right: 2rem;
      margin-top: 0.5rem;

      & .currentTab {
        color: var(--primary-blue);
      }

      & a {
        text-decoration: none;
        color: var(--medium-grey);
        font-weight: 500;
      }
    }
  }

  & button {
    color: white;
    border: none;
    border-radius: var(--button-radius);
    padding: 0.6rem 1rem;
    background-color: var(--primary-blue);

    & .fa-bell {
      padding-right: 0.5rem;
    }
  }
}

main {
  & #banner {
    padding: 4rem;
    color: white;
    text-align: center;
    background-image: linear-gradient(90deg, var(--primary-blue), var(--secondary-blue));

    & > * {
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    & p {
      color: var(--light-blue);
    }

    /* & .searchContainer { */
    background-color: red;

    & .fa-search {
      color: var(--light-grey);
    }

    & input {
      padding: 0.5rem;
      border-radius: 0.5rem;
      width: 20rem;
    }
    /* } */
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--footer-color);
  color: var(--light-grey);
  padding: 0 5rem;

  & #footerMainDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(178, 34, 34, 0.233);

    border-bottom: 1px solid var(--light-grey);
    padding-top: 4rem;
    color: white;

    & ul li {
      padding: 0.7rem 0;
      margin-left: 0;
      /* background-color: rebeccapurple; */
    }

    & a {
      text-decoration: none;
      color: var(--light-grey);
    }
  }

  & #footerBottom {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    /* background-color: teal; */

    & span {
      color: red;
    }
  }
}
