/* Global variables */

:root {
  --primary-blue: #2563eb;
  --secondary-blue: #1f40b0;
  --text-blue: #1e40af;
  --text-green: #166534;
  --text-green-accent: #dcfce7;
  --light-black: #111827;
  --light-grey: #9ca3af;
  --grey-variation: #374151;
  --medium-light-grey: #6b7280;
  --medium-grey: #4b5563;
  --light-blue: #dbeafe;
  --light-red: #ef4444;
  --light-white: #f9fafb;
  --blue-white: #dbeafe;

  --border-radius: 5px;
  --box-shadow: 0px 2px 3px var(--light-grey);
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--light-white);
}

img {
  max-width: 100%;
}

h3 {
  font-size: 1rem;
}

ul,
ol {
  list-style: none;
}

/* Utility classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* prevent the label from wrapping */
  border: 0;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: white;

  & h1 {
    font-size: x-large;
    font-weight: 700;
  }

  & nav ul {
    display: flex;

    & li {
      margin-right: 2rem;
      margin-top: 0.5rem;

      & .currentTab {
        color: var(--primary-blue);
      }

      & a {
        text-decoration: none;
        color: var(--medium-grey);
        font-weight: 500;
      }
    }
  }

  & button {
    color: white;
    border: none;
    border-radius: var(--border-radius);
    padding: 0.6rem 1rem;
    background-color: var(--primary-blue);

    & .fa-bell {
      padding-right: 0.5rem;
    }
  }
}

#banner {
  padding: 4rem;
  color: white;
  text-align: center;
  background-image: linear-gradient(90deg, var(--primary-blue), var(--secondary-blue));

  & > * {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & p {
    color: var(--light-blue);
  }

  & .searchContainer {
    display: inline-block;
    position: relative;

    & .fa-search {
      color: var(--light-grey);
      position: absolute;
      left: 0.75rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: small;
    }

    & input {
      border: none;
      padding: 0.7rem;
      padding-left: 2.2rem;
      border-radius: var(--border-radius);
      width: 20rem;
    }
  }
}

#mainContent {
  display: flex;
  justify-content: center;
}

main {
  & section {
    display: flex;
    flex-direction: column;
    padding: 1.8rem;
    gap: 1rem;

    & .featuredHeading {
      margin-top: 2rem;
      & :first-child {
        padding-bottom: 0.5rem;
        color: var(--light-black);
      }

      & :last-child {
        color: var(--medium-grey);
      }
    }

    & article {
      max-width: 43rem;
      margin-bottom: 1rem;
      border-radius: calc(var(--border-radius) * 2);
      box-shadow: var(--box-shadow);

      & img {
        width: 100%;
        max-height: 15rem;
        object-fit: cover;
        border-radius: calc(var(--border-radius) * 2) calc(var(--border-radius) * 2) 0 0;
      }

      & .topicDate {
        display: flex;
        justify-content: flex-start;
        padding: 1rem;
        gap: 1rem;

        & :first-child {
          color: var(--primary-blue);
          background-color: var(--light-blue);
          padding: 0.5rem 1rem;
          border-radius: 1rem;
        }

        & :last-child {
          padding: 0.5rem;
          color: var(--medium-grey);
        }

        & .heyImGreen {
          color: var(--text-green);
          background-color: var(--text-green-accent);
        }
      }

      & .articleInfo {
        color: var(--medium-grey);
        padding: 0 1rem;

        & :first-child {
          color: var(--light-black);
          padding-bottom: 1rem;
        }
      }

      & .articleBottom {
        display: flex;
        justify-content: space-between;
        color: var(--medium-light-grey);
        padding: 1rem;

        & .authorInfo {
          display: flex;

          & .profilePicture {
            width: 3rem;
            height: 3rem;
            object-fit: cover;
            border-radius: 50%;
          }

          & .nameAndJob {
            padding-top: 0.3rem;

            & :first-child {
              padding-bottom: 0.2rem;
            }
          }

          & > * {
            margin: 0.5rem;
          }

          & h4 {
            color: var(--light-black);
          }
        }

        & > p {
          padding-top: 1.2rem;
        }
      }
    }
  }

  & .pageNavigation ul {
    display: flex;
    justify-content: center;
    padding: 1rem;

    & button {
      padding: 1rem 0.9rem;
      background-color: transparent;
      border: none;
      border-radius: var(--border-radius);

      &:hover {
        cursor: pointer;
      }
    }

    & :first-child button {
      color: var(--light-grey);
    }

    & :nth-child(2) button {
      background-color: var(--primary-blue);
      color: white;
    }

    & li {
      border-radius: var(--border-radius);
      margin: 2px;
      padding: 0 1rem;
    }
  }
}

aside {
  padding: 2rem 0;

  & h2 {
    font-size: larger;
    font-weight: bold;
  }

  & > :nth-child(2) {
    background-color: var(--primary-blue);
    color: white;

    & p {
      color: var(--blue-white);
    }

    & input,
    button {
      border-radius: var(--border-radius);
      border: none;
      padding: 0.7rem 1rem;
      font-size: large;
    }

    & input {
      color: var(--light-grey);
    }

    & button {
      color: var(--primary-blue);
      font-weight: 500;
    }
  }

  & .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: calc(var(--border-radius) * 2);
    width: 25rem;
    min-height: 15rem;
    padding: 1.5rem;
    margin: 1.6rem 0;
    box-shadow: var(--box-shadow);

    & nav li {
      display: flex;
      justify-content: space-between;
      color: var(--light-grey);
      padding: 0.6rem 0.5rem;

      & a {
        text-decoration: none;
        color: var(--medium-grey);
      }
    }

    & article {
      display: flex;
      gap: 1rem;

      & .articleInfo {
        padding-top: var(--border-radius);

        & p {
          color: var(--light-black);
          font-weight: 550;
        }

        & small {
          color: var(--medium-light-grey);
        }
      }
    }

    & img {
      width: 4rem;
      height: 4rem;
      border-radius: var(--border-radius);
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--light-black);
  color: var(--light-grey);
  padding: 0 13rem;

  & #footerMainDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--light-grey);
    padding-top: 4rem;
    padding-bottom: 1rem;

    & > :first-child i {
      margin-right: 1rem;
    }

    & > :last-child {
      margin-right: 5rem;
      & i {
        margin-right: 0.7rem;
      }
    }

    & h2 {
      color: white;
      padding-bottom: 1rem;
    }

    & #techDiv {
      width: 17rem;
      padding-bottom: 1rem;
    }

    & ul li {
      padding: 0.7rem 0;
      margin-left: 0;
    }

    & a {
      text-decoration: none;
      color: var(--light-grey);
    }
  }

  & #footerBottom {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

    & span {
      color: var(--light-red);
      padding: 0 0.3rem;
    }
  }
}
